/*--------------------------------------------
# Variables
# Normalize
# Header
# Body
# Cover section - La Rambla JA!
# Orange section - Proposta
# Green section - Problema
# Red section - Suport
# Yellow section - Signa la petició
# Footer
------------------------------------------------*/

/* Variables */

@import "variables-mixins/variables-site";
@import "variables-mixins/mixins-master";

/* Normalize */

@import "normalize";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

/*    Header    */

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999;

    @media (max-width: $media__device_tablet_width) {
        background-color: $color__background_main_white;
        height: $height__mobile_menu;
        width: 100%;
        top: initial;
        bottom: 0;
    }

    .navbar-nav {
        list-style-type: none;
        margin: 0;
        padding: 240px 0 0 40px;

        @media (max-width: $media__device_tablet_width) {
            display: none;
        }

        a.highlighted {
            color: $color__text_black;

            &:hover {
                text-decoration: none;
            }
        }

        li {
            display: block;
            padding-bottom: 5px;
        }

        a {
            text-decoration: none;
            @include font__link;
            font-size: $font__size_menu;
            line-height: $font__size_menu;
            color: $color__text_white;

            &:hover {
                color: $color__text_black;
            }
        }
    }

    .navbar-nav-mobile {
        @media (min-width: $media__device_tablet_width) {
            display: none;
        }

        @media (max-width: $media__device_tablet_width) {
            @include list_cleaning;
            text-align: center;

            li {
                display: inline-block;
                padding-top: 11px;
            }

            a {
                text-decoration: none;
                @include font__link;
                font-size: $font__size_menu;
                line-height: $font__size_menu;
                font-weight: normal;
                color: $color__text_black;
                padding-right: 7px;
                text-align: center;

            }

            a.highlighted {
                text-decoration: underline;
            }

            li:first-of-type a {
                padding-left: 10px;
            }
        }
    }
}


/*    Body   */

section {
    margin: 0;
    padding: 0;

    @media (max-width: $media__device_tablet_width) {
        height: initial;
        min-height: calc(100vh - 40px); //  40px is the menu
    }
}

.span-block-mobile {
    @media (max-width: $media__device_tablet_width) {
        display: block;
    }
}

.top {
    width: 100%;
    height: $height__top_section;
    background-color: $color__background_top_black;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    @media (max-width: $media__device_tablet_width) {
        height: $height__mobile_top_section;
    }

    .marquee {
        position: absolute;
        width: max-content;

        h3 {
            @include font__title;
            font-size: $font__size_top;
            line-height: $font__size_top;
            font-weight: normal;
            margin: 0;
            padding-top: 15px;

            .countdown {
                @include font__days;
                font-size: $font__size_top_digital;
                line-height: $font__size_top_digital;
            }
        }

        @media (max-width: $media__device_tablet_width) {
            h3 {
                font-size: $font__size_mobile_top;
                line-height: $font__size_mobile_top;
                padding-top: 1px;

                .countdown {
                    font-size: $font__size_mobile_top_digital;
                    line-height: $font__size_mobile_top_digital;
                }
            }
        }
    }
}

.cover-top {
    width: 100%;
    height: $height__top_section;
    background-color: $color__background_top_black;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    @media (max-width: $media__device_tablet_width) {
        height: $height__mobile_top_section;
    }

    h3 {
        @include font__title;
        font-size: $font__size_cover_top;
        line-height: $font__line_height_cover_top;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 auto;
        text-align: center;
        padding-top: 12px;

        @media (max-width: $media__device_tablet_width) {
            font-size: $font__size_mobile_cover_top;
            line-height: $font__line_height_mobile_cover_top;
            padding-top: 5px;
        }
    }
}


.main {
    height: $height__main_section;
    margin: 0;
    padding: 0;
    color: $color__text_black;

    @media (max-width: $media__device_tablet_width) {
        height: initial;
        min-height: calc(100vh - 80px - 40px); // 80px is the top part, 40px is the menu
    }

    .text-container {
        @include text_container_width;

        p {
            @include font__text1;
            font-size: $font__size_text;
            line-height: $font__line_height_text;
            color: $color__text_black;
            margin: 0;
            padding: 0;

            a {
                @include simple_text_link;
            }

            @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
                font-size: $font__size_tablet_text;
                line-height: $font__line_height_tablet_text;
            }

            @media (max-width: $media__device_mobile_width) {
                font-size: $font__size_mobile_text;
                line-height: $font__line_height_mobile_text;
            }
        }
    }
}

#seguent-cursor-proposal, #seguent-cursor-suport, #seguent-cursor-larambla{
    display: none;
    position: absolute;
    margin: -45px 0 0 -95px;
    @include font__title;
    font-size: $font__size_cursor_seguent;
    color: $color__text_white;
    z-index: 999;
    cursor: none;

    @media (max-width: $media__device_tablet_width) {
        display: none !important;
        cursor: initial;
    }
}


/*    Cover section - La Rambla JA!   */

#larambla {
    @media (min-width: $media__device_tablet_width) {
        min-height: 800px;
    }
}

#cover-top-ara-mes-que-mai {
    color: $color__text_blue;
}

#cover-top-quan {
    color: $color__text_orange;
}

#cover-top-ja {
    color: $color__text_yellow;
}

#cover-top-no-pot-esperar {
    color: $color__text_red;
}

.cover-section-main {
    margin: 0;
    position: relative;

    h1 {
        text-transform: uppercase;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .larambla-seguent-mobile {
        @media (min-width: $media__device_tablet_width - 1px) {
            display: none;
        }

        @media (max-width: $media__device_tablet_width) {
            position: absolute;
            @include font__link;
            display: block;
            font-size: $font__size_mobile_cursor_seguent;
            line-height: $font__line_height_mobile_cursor_seguent;
            color: $color__text_white;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            padding-bottom: 15px;

            &:hover {
                color: $color__text_black;
            }
        }
    }
}

#cover-main-ara-mes-que-mai {
    background: $color__background_main_blue;

    h1 {
        @include font__title;
        font-size: 300px;
        line-height: 260px;
        font-weight: normal;
        width: 830px;
        padding-top: 40px;

        @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
            font-size: 240px;
            line-height: 200px;
            width: 540px;
            padding-top: 30px;
        }

        @media (max-width: $media__device_mobile_width) {
            font-size: 140px;
            line-height: 120px;
            width: 315px;
            padding-top: 20px;
        }
    }
}

#cover-main-quan {
    background: $color__background_main_orange;

    h1 {
        @include font__title;
        font-size: 610px;
        line-height: 610px;
        font-weight: normal;
        padding-top: 87px;

        @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
            font-size: 430px;
            line-height: 280px;
            padding-top: 50px;
        }

        @media (max-width: $media__device_mobile_width) {
            font-size: 190px;
            line-height: 280px;
            padding-top: 20px;
        }
    }
}

#cover-main-ja {
    background: $color__background_main_yellow;

    h1 {
        @include font__title;
        font-size: 670px;
        line-height: 670px;
        font-weight: normal;
        padding-top: 87px;

        @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
            font-size: 500px;
            line-height: 280px;
            padding-top: 50px;
        }

        @media (max-width: $media__device_mobile_width) {
            font-size: 400px;
            line-height: 400px;
            padding-top: 40px;
        }
    }
}

#cover-main-no-pot-esperar {
      background: $color__background_main_red;

      h1 {
          @include font__title;
          font-size: 300px;
          line-height: 260px;
          font-weight: normal;
          width: 860px;
          padding-top: 45px;

          @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
              font-size: 240px;
              line-height: 200px;
              width: 580px;
              padding-top: 30px;
          }

          @media (max-width: $media__device_mobile_width) {
              font-size: 140px;
              line-height: 120px;
              width: 315px;
              padding-top: 20px;
          }
      }
  }


/*    Blue section - Situacio   */

.blue-section-top {
    .marquee {
        h3 {
            color: $color__text_blue;
        }
    }
}

.blue-section-main {
    background-color: $color__background_main_blue;
    padding-top: 35px;

    p {
        padding-bottom: 20px !important;
    }

    @media (max-width: $media__device_tablet_width) {
        padding-top: 17px;

        p {
            padding-bottom: 17px !important;
        }

        p:last-of-type {
            padding-bottom: 20px;
        }
    }
}


/*    Orange section - Proposta    */

.orange-section-top {
    .marquee {
        h3 {
            color: $color__text_orange;
        }
    }
}

.orange-section-main {
    background-color: $color__background_main_orange;
    position: relative;

    .slide {
        height: $height__main_section;
        @include text_container_width;

        @media (max-width: $media__device_tablet_width) {
            height: calc(100vh - 80px - 40px); // 80px is the top part, 40px is the menu
            min-height: $media__device_mobile_min_height_landscape;
        }

        .proposal {
            position: absolute;
            @include font__title;
            font-size: $font__size_title2;
            font-weight: normal;
            line-height: $font__line_height_title2;
            color: $color__text_black;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            top: 46%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 990px;

            @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
                font-size: $font__size_tablet_title2;
                line-height: $font__line_height_tablet_title2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding-top: 70px;
                width: 600px;
            }

            @media (max-width: $media__device_mobile_width) {
                font-size: $font__size_mobile_title2;
                line-height: $font__line_height_mobile_title2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding-top: 40px;
                width: 345px;
            }
        }

        #proposal-5 {
            width: 970px;

            @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
                width: 600px;
            }

            @media (max-width: $media__device_mobile_width) {
                width: 345px;
            }
        }

        .proposal-seguent-mobile {
            @media (min-width: $media__device_tablet_width - 1px) {
                display: none;

            }
            @media (max-width: $media__device_tablet_width) {
                @include font__link;
                display: block;
                margin-top: 10px;
                font-size: $font__size_mobile_cursor_seguent;
                line-height: $font__line_height_mobile_cursor_seguent;
                color: $color__text_white;
                text-align: center;

                &:hover {
                    color: $color__text_black;
                }
            }
        }
    }

    .proposal-link {
        z-index: 99;
        @include font__link;
        font-size: $font__size_link;
        font-weight: normal;
        color: $color__text_white;
        text-transform: uppercase;
        width: 492px;
        text-decoration: none;

        &:hover {
            color: $color__text_black;
        }

        @media (max-width: $media__device_tablet_width) {
            font-size: $font__size_mobile_link;
            line-height: $font__size_mobile_link;
            width: 310px;
        }
    }

    .proposal-link:first-of-type {
        text-align: center;
        position: absolute;
        bottom: 78px;
        left: 50%;
        transform: translate(-50%, 0);

        @media (max-width: $media__device_tablet_width) {
            bottom: 45px;
        }
    }

    .proposal-link:last-of-type {
        text-align: center;
        position: absolute;
        bottom: 28px;
        left: 50%;
        transform: translate(-50%, 0);

        @media (max-width: $media__device_tablet_width) {
            bottom: 14px;
        }
    }
}


/*    Green section - Problema    */

.green-section-top {
    .marquee {
        h3 {
            color: $color__text_green;
        }
    }
}

.green-section-main {
    background-color: $color__background_main_green;
    padding-top: 34px;

    @media (max-width: $media__device_tablet_width) {
        padding-top: 20px;
    }

    p:first-of-type {
        padding-bottom: 33px;

        @media (max-width: $media__device_tablet_width) {
            padding-bottom: 20px;
        }
    }

    ul {
        @include list_cleaning;
        list-style-type: disc;
        list-style-image: url(../images/ul-style-white.png);
        color: $color__text_white;
        padding-left: 27px;

        @media (max-width: $media__device_mobile_width) {
            list-style-image: url(../images/ul-style-white-mobile.png);
            padding-left: 20px;
        }

        li {
            a {
                @include simple_text_link;
                text-align: center;
                list-style-position: outside;
            }

            &:hover {
                color: $color__text_black;
                list-style-image: url(../images/ul-style-black.png);
            }

            padding-left: 5px;
            @media (max-width: $media__device_mobile_width) {
                padding-left: 0;

                &:hover {
                    list-style-image: url(../images/ul-style-black-mobile.png);
                }
            }
        }

        li:last-of-type {
            @media (max-width: $media__device_tablet_width) {
                padding-bottom: 20px;
            }
        }
    }
}


/*    Red section - Suport    */

.red-section-top {
    .marquee {
        h3 {
            color: $color__text_red;
        }
    }
}

.red-section-main {
    position: relative;
    width: 100%;
    overflow: hidden;

    .slide {
        height: $height__main_section;

        @media (max-width: $media__device_tablet_width) {
            height: calc(100vh - 80px - 40px); // 80px is the top part, 40px is the menu
            min-height: $media__device_mobile_min_height_landscape;
        }

        .quote-image {
            img {
                width: 100%;
                height: auto;
                z-index: 1;
                margin: 0 auto;
                @media (max-width: $media__device_tablet_width) {
                    height: calc(100vh - 80px - 40px); // 80px is the top part, 40px is the menu
                    min-height: 500px;
                }
            }
        }

        .quote {
            @include font__title;
            font-size: $font__size_quote;
            line-height: $font__line_height_quote;
            font-weight: normal;
            color: $color__text_black;
            text-transform: uppercase;
            z-index: 50;

            @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
                font-size: $font__size_tablet_quote;
                line-height: $font__line_height_tablet_quote;
                text-align: center;
            }

            @media (max-width: $media__device_mobile_width) {
                font-size: $font__size_mobile_quote;
                line-height: $font__line_height_mobile_quote;
                text-align: center;
            }

            .quote-author-mobile {
                display: none;

                @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
                    display: inline-block;
                }

                @media (max-width: $media__device_mobile_width) {
                    display: block;
                }
            }
        }

        .quote-right {
            position: absolute;
            text-align: right;
            width: 972px;
            top: 0;
            right: 0;
            padding-top: 35px;
            padding-right: 35px;

            @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 0 20px;
            }

            @media (max-width: $media__device_mobile_width) {
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 0 20px;
            }
        }

        .quote-left {
            position: absolute;
            text-align: left;
            width: 972px;
            bottom: 0;
            left: 0;
            padding-bottom: 25px;
            padding-left: 35px;

            @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
                text-align: center;
                bottom: initial;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 0 20px;
            }

            @media (max-width: $media__device_mobile_width) {
                text-align: center;
                bottom: initial;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 0 20px;
            }
        }

        .quote-author {
            @include font__title;
            font-size: $font__size_quote_name;
            line-height: $font__size_quote_name;
            font-weight: normal;
            color: $color__text_black;
            text-transform: uppercase;
            z-index: 50;

            @media (max-width: $media__device_tablet_width) {
                display: none;
            }
        }
        .author-right {
            position: absolute;
            text-align: right;
            top: 0;
            right: 0;
            padding-top: 35px;
            padding-right: 35px;
        }

        .author-left {
            position: absolute;
            text-align: left;
            bottom: 0;
            left: 0;
            padding-bottom: 25px;
            padding-left: 35px;
        }

        .suport-seguent-mobile {
            @media (min-width: $media__device_tablet_width - 1px) {
                display: none;
            }

            @media (max-width: $media__device_tablet_width) {
                position: absolute;
                @include font__title;
                display: block;
                font-size: $font__size_mobile_cursor_seguent;
                line-height: $font__line_height_mobile_cursor_seguent;
                color: $color__text_white;
                z-index: 99;
                top: initial;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                padding-bottom: 15px;

                &:hover {
                    color: $color__text_black;
                }
            }
        }
    }
}

.owl-item.active .slide .quote-image img {
    @media (max-width: $width__design) {
        position: absolute;
        width: initial;
        height: $height__main_section;
        left: 50%;
        transform: translate(-50%, 0);
    }

    @media (max-width: $media__device_tablet_width) {
        height: calc(100vh - 80px - 40px);
    }
}


/*    Yellow section - Signa la petició    */

#signa {
    @media (max-width: $media__device_tablet_width) {
        min-height: calc(100vh - 80px - 40px - 40px); // 80px is the top part, 40px is the menu
    }
}

.yellow-section-top {
    .marquee {
        h3 {
            color: $color__text_yellow;
        }
    }
}

.yellow-section-main {
    background-color: $color__background_main_yellow;
    text-align: center;
    position: relative;

    @media (max-width: $media__device_tablet_width) {
        height: calc(100vh - 80px - 40px - 40px); // 80px is the top part, 40px is the menu
        min-height: $media__device_mobile_min_height_landscape;
    }

    h2 {
        position: absolute;
        @include font__title;
        font-size: $font__size_title2;
        line-height: $font__line_height_title2;
        font-weight: normal;
        color: $color__text_black;
        text-transform: uppercase;
        margin: 0;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;

        @media (max-width: $media__device_tablet_width) and (min-width: $media__device_mobile_width) {
            font-size: $font__size_tablet_title2;
            line-height: $font__line_height_tablet_title2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-top: 0;
            width: 500px;
        }

        @media (max-width: $media__device_mobile_width) {
            font-size: $font__size_mobile_title2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 65px;
            padding-top: 10px;
            width: 315px;
        }
    }

    .sign-button {
        @include call-to-action-button;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);

        @media (max-width: $media__device_tablet_width) {
            bottom: 20px;
        }
    }
}


/*    Footer    */

#footer {
    width: 100%;
    height: $height__footer;
    background-color: $color__background_footer_black;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    @media (max-width: $media__device_tablet_width) {
        height: $height__mobile_footer;
        margin-bottom: $height__mobile_menu;
    }

    .marquee-footer {
        position: absolute;
        width: max-content;

        span {
            display: inline-block;
            @include font__title;
            font-size: $font__size_footer;
            line-height: $font__size_footer;
            font-weight: normal;
            color: $color__text_yellow;
            text-transform: uppercase;
            margin: 0;
            padding-top: 22px;

            a {
                color: $color__text_white;
                padding-right: 61px;
                text-decoration: none;

                &:hover {
                    color: $color__text_yellow;
                }
            }

            @media (max-width: $media__device_tablet_width) {
                @include font__link;
                font-size: $font__size_mobile_footer;
                line-height: $font__size_mobile_footer;
                font-weight: normal;
                padding-top: 11px;

                a {
                    padding-right: 20px;
                }
            }
        }
    }
}

