
// Section heights
$height__main_section: 600px;
$height__top_section: 200px;
$height__footer: 85px;

//Mobile and tablet heights
$height__mobile_main_section: 560px;
$height__mobile_top_section: 80px;
$height__mobile_menu: 40px;
$height__mobile_footer: 40px;

// Device sizes
$media__device_mobile_width: 480px;
$media__device_tablet_width: 1024px;
$media__device_mobile_min_height_landscape: 500px;

// Size of design
$width__design: 1440px;
